/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: "Lucida Grande";
   background-color: #bdf7f1;
   background-image: url("/syasin.jpg");
   background-size: cover;

}
.opacity {
  height: 100%;
  background: rgba(300,255,255,0.3);
}


header {
  font-size: 40px;
  color: #00FFFF;
  height: 60px;
 padding-left: 20px;
 padding-top: 0px;
 font-weight: bold;
}
.header-logo {
  font-size: 18px;
  color: #00FFFF;
  padding-left: 30px;
  height: 60px;
  font-weight: bolder;
}

.index-day {
color :black;
}


li {
  list-style:none;
}

ul {
  font-size: 18px;
  padding-left: 30px;
  height: 60;
}

title {
  font-size: 30px;
  background-color: #bdf7f1;
  color: #239b76;
  float: left;
  border :5px solid black;
}

.list_article {
  clear: both;
}

.new {
  color: blue;
  display: inline-block;

}

textarea {
  font-size: 20px;
  text-align:left;
  display: flex;
  align-items: center;
  margin:0 auto;
  width: 700px;
  height: 100px;
  padding-bottom: 10px;
  border-radius: 6px;
  margin: 10px;
}

.btn-submit {
  width:300px;
  height: 50px;
  align-items: right;
  text-align: center;
  border-radius: 10px;
  background-color: #666;
  font-size: 18px;
  color: #fff;
  margin: 10px;
}

.btn-submit:active {
  background-color: #888;
}

.articletitle {
  font-size: 30px;
  float:left;
  padding-right: 30px
}
.articleday {
  font-size: 30px;
  padding: 23px;
}
.articlecontent {
  font-size: 20px;
  padding-bottom: 30px;
  clear: both;
}

.post-time {
  font-size: 20px;
}

.post-menus {
  font-size: 20px;
  padding-top: 10px;
}
