/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: "Lucida Grande";
   background-color: #bdf7f1;
   background-size: cover;



}
.rgba {
  height: 200%;
  background-image: url("/syasin.jpg");
  background-size: cover;

}


header {
  font-size: 40px;
  color: #bdf7f1;
  height: 60px;
 padding:5px 5px;
 font-weight: bolder;
 padding :25px 25px;
 background: rgba(300,255,255,0.3);
 text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0 -1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
}
.header-logo {
  color: #bdf7f1;
  font-size: 20px;
  font-weight: bolder;
  padding :10px 35px;
  background: rgba(300,255,255,0.3);
  text-shadow: 1px 1px 0 black, -1px -1px 0 black,
               -1px 1px 0 black, 1px -1px 0 black,
               0px 1px 0 black,  0 -1px 0 black,
               -1px 0 0 black, 1px 0 0 black;
  line-height: 25px;
}

.header-menus {
  font-size: 20px;
  padding: 10px 5px 0px 0px;
  color: #FFF;
  font-weight: bolder;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black,
               -1px 1px 0 black, 1px -1px 0 black,
               0px 1px 0 black,  0 -1px 0 black,
               -1px 0 0 black, 1px 0 0 black;

}

.logo {
  font-size: 18px;
  color: #239b76;
  font-weight: bolder;
  padding :10px 35px;
  background-color: white;
  margin-bottom: -10px;


}

.index-day {
color :black;
}


li {
  list-style:none;
}

ul {
  font-size: 18px;
  padding-left: 30px;
  height: 60;
  background-color: rgba(300,255,255,0.5);

}

title {
  font-size: 30px;
  background-color: #bdf7f1;
  color: #239b76;
  float: left;
  border :5px solid black;
}

.list_article {
  clear: both;
}

.home {
  color: #239b76;
  display: inline-block;
  padding-right: 15px;
}

.new {
  color: #239b76;
  display: inline-block;
  padding-right: 15px;
}

.userindex {
  color: #239b76;
  display: inline-block;
  padding-right: 15px;
}

.form-heading {
  font-size: 20px;
  padding: 20px 0px;
  color: #FFF;
  font-weight: bolder;
  text-shadow: 1px 1px 0 black, -1px -1px 0 black,
               -1px 1px 0 black, 1px -1px 0 black,
               0px 1px 0 black,  0 -1px 0 black,
               -1px 0 0 black, 1px 0 0 black;
}

.signup {
  color: #239b76;
  display: inline-block;
  padding-right: 15px;
}

textarea {
  font-size: 20px;
  text-align:left;
  display: flex;
  align-items: center;
  margin:0 auto;
  width: 700px;
  height: 100px;
  padding-bottom: 10px;
  border-radius: 6px;
  margin: 10px;
}

.btn-submit {
  width:300px;
  height: 50px;
  align-items: right;
  text-align: center;
  border-radius: 10px;
  background-color: #666;
  font-size: 18px;
  color: #fff;
  margin: 10px;
}

.btn-submit:active {
  background-color: #888;
}

.articletitle {
  font-size: 30px;
  float:left;
  padding-right: 30px;
  background: rgba(300,255,255,0.3);

}
.articleday {
  font-size: 30px;
  padding: 17px;
  background: rgba(300,255,255,0.3);

}
.articlecontent {
  font-size: 20px;
  padding-bottom: 30px;
  clear: both;
  background: rgba(300,255,255,0.3);

}

.post-time {
  font-size: 20px;
  background: rgba(300,255,255,0.3);

}

.post-menus {
  font-size: 20px;
  padding-top: 10px;
  background: rgba(300,255,255,0.3);

}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}

/* users/index ================================ */
.users-heading {
  font-weight: 300;
  margin: 60px 0 20px;
  font-size: 48px;
  color: #bcc8d4;
}

.users-index-item {
  padding: 20px 30px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  display: table;
  width: 100%;
}

.user-left img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.user-name a {
  font-weight: 600;
}

.user-name a:hover {
  color: #3ecdc6;
}

.user-left {
  float: left;
  width: 10%;
}

.user-right {
  width: 90%;
  padding-left: 25px;
  text-align: left;
  display: table-cell;
  vertical-align: middle;
}

/* users/show ================================ */
.user-show {
  text-align: center;
}

.user {
  margin-bottom: 20px;
}

.user img {
  width: 80px;
  height: 80px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  margin: 20px 0 10px;
  object-fit: cover;
}

.user h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.user p {
  font-size: 13px;
  margin-bottom: 15px;
}

.user a {
  color: #8899a6;
  text-decoration: underline;
  font-weight: 200;
}

.user span {
  color: #afb6bf;
  font-weight: 200;
  padding: 0 6px 0 8px;
}

.user-tabs {
  margin-top: 40px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
}

.user-tabs li {
  float: left;
}

.user-tabs li.active {
  border-bottom: 2px solid #3ecdc6;
}

.user-tabs li.active a {
  color: #57575f;
}

.user-tabs a {
  display: inline-block;
  padding: 16px 30px;
  color: #afb6bf;
}

/* users/new, users/edit ================================ */
.users-form input {
  margin-bottom: 15px;
}
