/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   font-family: "Lucida Grande";
   background-color: #bdf7f1;
   background-size: cover;



}
.rgba {
  height: 200%;
  background-image: url("/syasin.jpg");
  background-size: cover;

}


header {
  font-size: 40px;
  color: #bdf7f1;
  height: 60px;
 padding:5px 5px;
 padding-top: 0px;
 font-weight: bolder;
 padding :10px 35px;
 background: rgba(300,255,255,0.3);



}
.header-logo {
  color: #bdf7f1;
  font-size: 16px;
  font-weight: bolder;
  padding :10px 35px;
  background: rgba(300,255,255,0.3);

}

.logo {
  font-size: 18px;
  color: #239b76;
  font-weight: bolder;
  padding :10px 35px;
  background-color: white;
  margin-bottom: -10px;


}

.index-day {
color :black;
}


li {
  list-style:none;
}

ul {
  font-size: 18px;
  padding-left: 30px;
  height: 60;
  background-color: rgba(300,255,255,0.5);

}

title {
  font-size: 30px;
  background-color: #bdf7f1;
  color: #239b76;
  float: left;
  border :5px solid black;
}

.list_article {
  clear: both;
}

.new {
  color: #239b76;
  display: inline-block;
}

.home {
  color: #239b76;
  display: inline-block;
}
textarea {
  font-size: 20px;
  text-align:left;
  display: flex;
  align-items: center;
  margin:0 auto;
  width: 700px;
  height: 100px;
  padding-bottom: 10px;
  border-radius: 6px;
  margin: 10px;
}

.btn-submit {
  width:300px;
  height: 50px;
  align-items: right;
  text-align: center;
  border-radius: 10px;
  background-color: #666;
  font-size: 18px;
  color: #fff;
  margin: 10px;
}

.btn-submit:active {
  background-color: #888;
}

.articletitle {
  font-size: 30px;
  float:left;
  padding-right: 30px;
  background: rgba(300,255,255,0.3);

}
.articleday {
  font-size: 30px;
  padding: 17px;
  background: rgba(300,255,255,0.3);

}
.articlecontent {
  font-size: 20px;
  padding-bottom: 30px;
  clear: both;
  background: rgba(300,255,255,0.3);

}

.post-time {
  font-size: 20px;
  background: rgba(300,255,255,0.3);

}

.post-menus {
  font-size: 20px;
  padding-top: 10px;
  background: rgba(300,255,255,0.3);

}

.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px;
}

.pagination>li>a:hover {
  border-radius: 15px;
}
